/* Truco para uniformidad de texto entre navegadores */
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}

.my-title {
    text-align: center;
    font-size: 3.8rem;
}

.my-title span {
    font-size: 2rem;
}

